:root{
    --grid-num: 0;
}

html{
    height: 100%;
}

body{
    display: grid;
    height: 100%;
    place-items: center;
}

#sketch-con {
    display: grid;
    grid-template-rows: repeat(var(--grid-num), 1fr);
    grid-template-columns: repeat(var(--grid-num), 1fr);
    width: 500px;
    height: 500px;
}